# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- List popular languages to Data Science
- List Data Science tools and libraries
- To give examples of evaluating expressions in Python

Some of the popular languages Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Scikit-learn

| Data Science Tools |
|--------------------|
| Hadoop |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60

200 / 60

3.3333333333333335

## Author
Maksym Tsupko